extends layout

block content
  h1 Welcome to #{title}
  .card-deck
    .card
      img.card-img-top(src='images/ps4.jpg' alt='Playstation 4 Pro')
      .card-body
        h5.card-title Sony PlayStation 4 Pro 1 TB Black + DualShok 4
        p.card-text
          small.text-muted 10 199 грн
        p.card-text
          | Геймпад Sony DualShock 4 | Процессор 8 Ядер (x86-64 AMD Jaguar) | Оперативная память 8 Gb GDDR5 | Жесткий диск: 1 Tb | Поддерживаемые носители: Blue-Ray, DVD, USB-Flash | Ethernet, Bluetooth 4.0 (LE), Wi-Fi 802.11ac | Цвет Черный
        a.btn.btn-primary(href='/ps4-pro-1tb-black') Go to product
    .card
      img.card-img-top(src='/images/iPhone11.jpg' alt='iPhone 11 Dual 64 Gb Purple')
      .card-body
        h5.card-title Apple iPhone 11 Dual 64 Gb Purple
        p.card-text
          small.text-muted 20 377 грн
        p.card-text 
          | Экран 6.1" (1792x828), матрица Liquid Retina HD | Процессор A13 Bionic | Встроенная память 64 Gb | Основная камера 12 + 12 Mpx | Селфи-камера 12 Mpx | Технология Face ID | 2 x SIM карты | Защита от пыли и влаги IP68 | Размеры 150.9 x 75.7 x 8.3 мм, Вес 194 г | Purple
        a.btn.btn-primary(href='/iPhone11-64gb-purple') Go to product
    .card
      img.card-img-top(src='/images/samsung.jpg' alt='Card image cap')
      .card-body
        h5.card-title Samsung UE55RU7472 |EU|
        p.card-text
          small.text-muted 15 877 грн
        p.card-text
          | Диагональ 55" (140 см) | 4K Ultra HD (3840x2160) | Матрица VA 10 bit (8 bit + FRC) | Частота PQI 2000 | HDR | Smart TV (на базе платформы Tizen 5.0) | Мощность звука 20 Вт | Dolby Digital Plus | Wi-Fi | Bluetooth | Поддержка AirPlay 2 | ТВ-тюнер DVB-T/T2, DVB-S/S2, DVB-C | HDMI x3, USB 2.0 x2 | Серый
        a.btn.btn-primary(href='/samsung-UE55RU7472') Go to product


  
      

